html, body { margin:0; padding:0; }
body { margin:5% auto; width:55em; max-width:98%; border:3px solid; font-size:80%; overflow:auto;}
a {color:inherit; }
#side {float:left; width:31%; margin-right:1%; }
#freedom img { height:5em; width:14.75em; display:block; max-width:191px; max-height:62px; }
#footer { clear:both; }
#content { position:relative; float:right; width:65%; font-size:1.3em; margin-right:2%; }
#navigation {list-style-type:none;}
#navigation a {font-size:1.3em; font-weight:bold; color:inherit;}
#freedom { padding:1em; text-align:justify; line-height:1em; }
#freedom span { display:none; }
#freedom:hover span { display:inline; }
h1 { text-align:right; padding:0 1em; }

acronym { border:none; cursor:help; }
dl {marker-offset:0;}
dd:before {content: "- ";}

.vcalendar .role { display:none; }
.vcalendar abbr.dtstart { border:none; }
.vcalendar {padding:0;}
.vevent {margin:1.5em 0; list-style-type:none; padding:0; border:1px solid black;}
.vevent .summary, .vevent .dtstart, .vevent .location {display:block; }
.vevent .summary {font-weight:bold;}
.vevent .info {margin:1.5em;}
/*.vevent .summary:before {content: "What: "}
.vevent .dtstart:before {content: "When: "}
.vevent .location:before {content: "Where: "}
.vevent .speaker:before {content: "Who: "}
*/